Este notebook se usa para levantar los pickles que creo Gisella y eliminar los datos innecesarios y convertir las columnas a sus dtypes correctos.

In [28]:
# importamos librerias varias
import pandas as pd
from multiprocessing import Pool
from pandas_ods_reader import read_ods
import glob

In [29]:
%%time
# Cargamos desde los pickles
salientes = pd.read_pickle('salientes.pkl')
entrantes = pd.read_pickle('entrantes.pkl')

CPU times: user 1.16 s, sys: 350 ms, total: 1.51 s
Wall time: 1.51 s

In [30]:
%%time
# Eliminamos las columnas que no se necesitan en salientes
salientes = salientes.drop(['Id. celda', 'Descripc. Celda', 'Latitud', 'Longitud','Dir Celda'], axis=1)
salientes.dtypes

CPU times: user 279 ms, sys: 43.5 ms, total: 323 ms
Wall time: 320 ms

Nro. Llamante      int64
Destino           object
Nro. Llamado       int64
fecha y hora      object
Duracion (Seg)     int64
dtype: object

In [31]:
%%time
# Eliminamos las columnas que no se necesitan en entrantes
entrantes = entrantes.drop(['id. Celda', 'Descripc. Celda', 'Latitud', 'Longitud', 'Dir Celda', 'IMEI', 'CAL_FEATURES'], axis=1)
entrantes.dtypes

CPU times: user 17.6 ms, sys: 0 ns, total: 17.6 ms
Wall time: 16.9 ms

Nro. Llamado       int64
Nro. Llamante      int64
Fecha y Hora      object
Duracion (Seg)     int64
dtype: object

In [32]:
%%time
# le cambio los nombres por unos mas comodos
salientes = salientes.rename(columns={"Nro. Llamado": "llamado", "Nro. Llamante": "llamantes", "Destino": "destino", "fecha y hora": "fecha-hora", "Duracion (Seg)": "duracion"})

CPU times: user 306 ms, sys: 221 ms, total: 527 ms
Wall time: 525 ms

In [33]:
%%time
# le cambio los nombres por unos mas comodos
entrantes = entrantes.rename(columns={"Nro. Llamado": "llamado", "Nro. Llamante": "llamantes", "Fecha y Hora": "fecha-hora", "Duracion (Seg)": "duracion"})

CPU times: user 28.8 ms, sys: 129 µs, total: 29 ms
Wall time: 23.8 ms

In [34]:
%%time
# pasamos la fecha de object a datetime
salientes['fecha-hora'] = pd.to_datetime(salientes['fecha-hora'], format='%d/%m/%Y %H:%M:%S')

CPU times: user 9.46 s, sys: 124 ms, total: 9.59 s
Wall time: 9.56 s

In [35]:
%%time
# pasamos la fecha de object a datetime
entrantes['fecha-hora'] = pd.to_datetime(entrantes['fecha-hora'], format='%d/%m/%Y %H:%M:%S')

CPU times: user 998 ms, sys: 3.41 ms, total: 1 s
Wall time: 995 ms

In [37]:
%%time 
# Mostramos los campos
salientes.sample()

CPU times: user 287 ms, sys: 11.8 ms, total: 299 ms
Wall time: 297 ms

        llamantes         destino    llamado          fecha-hora  duracion
79165  1137834970  Conexión Móvil  324531998 2023-09-12 12:39:54      2384

In [38]:
entrantes.sample()

         llamado   llamantes          fecha-hora  duracion
1563  1140956246  1132892800 2023-09-04 10:15:09        42

In [39]:
%%time
# Guardamos a pickle
salientes.to_pickle("./salientes_01.pkl")
entrantes.to_pickle("./entrantes_01.pkl")

CPU times: user 243 ms, sys: 318 ms, total: 561 ms
Wall time: 557 ms